<div class="card shadow border-0 mt-4">
  <div class="card-header custom-bg-navy bg-gradient py-4">
    <h3 class="text-center text-white mb-0">User Directory</h3>
  </div>

  <div class="card-body p-4">
    <div class="row align-items-center pb-3">
      <div class="col-12 col-lg-4 d-flex gap-2 mb-2 mb-lg-0">
        <input
          type="text"
          class="form-control"
          placeholder="Search by username"
          #userName
        />
        <button class="btn custom-bg-navy" (click)="getUsersByName()">
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
        </button>
      </div>

      <div class="col-12 col-lg-4 d-flex gap-2 mb-2 mb-lg-0">
        <select
          class="form-select"
          [(ngModel)]="selectedRole"
          (change)="getUsersByRole()"
        >
          <option value="">All Roles</option>
          <option value="Admin">Admin</option>
          <option value="Manager">Manager</option>
          <option value="Employee">Employee</option>
        </select>
      </div>

      <div class="col-12 col-lg-4 text-lg-end">
        <a class="btn custom-bg-navy text-white" routerLink="/Home/addUser">
          <i class="bi bi-plus-circle"></i> Add New User
        </a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>

            <th>Roles</th>
            <th>Status</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.email }}</td>

            <td>{{ user.roles[0] }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="user.isLocked ? 'bg-danger' : 'bg-success'"
              >
                {{ user.isLocked ? "Locked" : "Unlocked" }}
              </span>
            </td>
            <td class="w-auto">
              <div class="btn-group" role="group">
                <a class="btn btn-success mx-1" (click)="editUser(user.userId)">
                  <i class="bi bi-pencil-square"></i> Edit
                </a>
                <!-- <a
                  class="btn btn-danger mx-1"
                  (click)="deleteUser(user.userId)"
                >
                  <i class="bi bi-trash-fill"></i> Delete
                </a> -->

                <button
                  class="btn mx-1"
                  [ngClass]="{
                    'btn-danger': !user.isLocked,
                    'btn-success': user.isLocked
                  }"
                  (click)="toggleLockStatus(user.userId, user.isLocked)"
                >
                  <i class="fas fa-lock"></i>
                  {{ user.isLocked ? "Unlock" : "Lock" }}
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row align-items-center mt-3">
      <div class="col-12 d-flex justify-content-between">
        <button
          class="btn custom-bg-navy text-white"
          (click)="prevPage()"
          [disabled]="pageNumber === 1 || disablePagination"
        >
          Previous
        </button>
        <button
          class="btn custom-bg-navy text-white"
          (click)="nextPage()"
          [disabled]="noNext || disablePagination"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
